:root {
    --main-color: #FCBE16;
    --main-color-dark: #e7ac13;
    --main-gray-color:#FAFAFA;

    --vc-nav-background: white;
    --vc-nav-color: black;
}

body {
    /* Keyword values */
    user-select: text;

    /* Mozilla-specific values */
    -moz-user-select: text;

    /* WebKit-specific values */
    -webkit-user-select: text;

    /* Microsoft-specific values */
    -ms-user-select: text;
}

.carousel__prev, .carousel__next {
    border-radius: 50%;
    /*padding: 5px;*/
    box-shadow: 0 0 5px #6b6b6b;
}

.carousel__next--disabled, .carousel__prev--disabled {
    opacity: 0;
}

a {
    color: black;
}

a:hover {
    color: black !important;
}

ion-grid{
    height: 100%;
}
ion-row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}