:root {
    --main-color: #FCBE16;
    --main-gray-color:#FAFAFA;
}

a {
    color: black;
}

a:hover {
    color: black !important;
}

ion-grid{
    height: 100%;
}
ion-row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}